# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
*.pyc
*.pyo
*.so

# Env
.env
.venv
venv/
virtualenv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project
*.cube
.coverage
